@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 100vh;
  color: #030616;
}

main {
  background-color: #ffffff;
}

.headline {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 60px 0 15px 0;
}

.headline,
.center {
  text-align: center;
}

.faq-wrapper {
  background-color: #f8fafc;
  margin: 60px 0 0 0;
  padding: 60px 60px;
}

.faq-info {
  width: 50%;
  margin: 0 auto;
}

.faq-question {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  margin: 25px 0;
}

ul,
ol {
  margin-left: 20px;
}

ul > li,
ol > li {
  line-height: 2;
}

li > .bold {
  font-weight: 700;
}

.divider {
  width: 50%;
  margin: 40px auto;
  border: none;
  height: 1.2px;
  background-color: #d2d5da;
}

.faq-link {
  color: #4e80ee;
  text-decoration: none;
}

.faq-link:visited {
  color: darkorchid;
}

.faq-link:hover {
  color: #17419c;
}

.faq-link:active {
  color: #4e80ee;
}

@media screen and (max-width: 1024px) {
  .faq-info,
  .divider {
    width: 70%;
  }
}

@media screen and (max-width: 640px) {
  .faq-info,
  .divider {
    width: 100%;
  }

  .faq-wrapper {
    padding: 60px 20px;
  }

  ul,
  ol {
    margin-left: 25px;
  }
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
